<html>

<head>
<title>Note for R Markdown</title>
</head>
# Introduction to R

<body>
<br> noted on Jul. 6th, 2018


<p>* Calcutation:
Basically, there is only one needed to know. 
<br> e.g. 5 % 2 = 5 - [5/2] x 2 = 3
<br> % : left after /


<p>* Variation



</body>
</html>
